:root {
  --mainColor: #b91547;
  --secondaryColor: white;
  --contrastColor: #757575;
}


.d-none{display: none;}

body {
  background-color: var(--mainColor);
}
main {
  max-width: 50rem;
  margin: auto;
  text-align: center;
}
h1 {
  color: var(--secondaryColor);
}

.data {
  background-color: var(--secondaryColor);
  margin: 1.25rem auto;
}
.data-top {
  display: flex;
  justify-content: space-around;
}
.data-top > div {
  display: flex;
  flex-direction: column;
}
.ticket {
  text-align: left;
  background-color: var(--secondaryColor);
}
.ticket-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticket-line > div:first-of-type {
  background-color:var(--contrastColor) ;
}
